## 190031065
## Mohammad Tarique Anjum

In [1]:
import numpy as np
import pandas as pd

In [2]:
iris = pd.read_csv('IRIS.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
iris.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
pd.options.display.max_rows=None

In [3]:
df=iris.loc[iris['species']=='Iris-setosa']
df

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [7]:
df.species.unique()

array(['Iris-setosa'], dtype=object)

In [8]:
unique_sepal_lengths=df.sepal_length.unique()
unique_sepal_lengths

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3])

In [9]:
frequency=pd.crosstab(index=df['sepal_length'],columns=["count"])
frequency

col_0         count
sepal_length
4.3               1
4.4               3
4.5               1
4.6               4
4.7               2
4.8               5
4.9               4
5.0               8
5.1               8
5.2               3
5.3               1
5.4               5
5.5               2
5.7               2
5.8               1

In [10]:
total=df['species'].count()
total

50

In [11]:
probabilities = frequency['count']/total
probabilities

sepal_length
4.3    0.02
4.4    0.06
4.5    0.02
4.6    0.08
4.7    0.04
4.8    0.10
4.9    0.08
5.0    0.16
5.1    0.16
5.2    0.06
5.3    0.02
5.4    0.10
5.5    0.04
5.7    0.04
5.8    0.02
Name: count, dtype: float64

In [6]:
fre = []
pro = []
c = 0
count = np.count_nonzero(df.sepal_length)
a = df.sepal_length.unique()
for i in a:
    for j in df['sepal_length']:
        if i == j:
            c = c + 1
    fre.append(c)
    pro.append(c/count)
print(fre)
print(pro)
df1 = pd.DataFrame({'sepal_length':a,'frequency':fre,'probability':pro})
df1.head()

[8, 12, 14, 18, 26, 31, 34, 39, 40, 41, 43, 46, 48, 49, 50]
[0.16, 0.24, 0.28, 0.36, 0.52, 0.62, 0.68, 0.78, 0.8, 0.82, 0.86, 0.92, 0.96, 0.98, 1.0]

   sepal_length  frequency  probability
0           5.1          8         0.16
1           4.9         12         0.24
2           4.7         14         0.28
3           4.6         18         0.36
4           5.0         26         0.52

In [7]:
expect_value = 0
i = 0
for val in a:
    expect_value = expect_value + (val*pro[i])
    i = i + 1
print(expect_value)

50.52000000000001

In [11]:
df2 = iris.loc[iris['species'] == 'Iris-virginica']
count1 = np.count_nonzero(df2.petal_length)
b = df2.petal_length.unique()
b

array([6. , 5.1, 5.9, 5.6, 5.8, 6.6, 4.5, 6.3, 6.1, 5.3, 5.5, 5. , 6.7,
       6.9, 5.7, 4.9, 4.8, 6.4, 5.4, 5.2])

In [12]:
fre1 = []
pro1 = []
c1 = 0
for i in b:
    for j in df2['petal_length']:
        if i == j :
            c1 = c1 + 1
    fre1.append(c1)
    pro1.append(c1/count1)
print(fre1)
print(pro1)

[2, 9, 11, 17, 20, 21, 22, 23, 26, 28, 31, 34, 36, 37, 40, 43, 45, 46, 48, 50]
[0.04, 0.18, 0.22, 0.34, 0.4, 0.42, 0.44, 0.46, 0.52, 0.56, 0.62, 0.68, 0.72, 0.74, 0.8, 0.86, 0.9, 0.92, 0.96, 1.0]

In [13]:
expect_value1 = 0
i = 0
for val in b:
    expect_value1 = expect_value1 + (val * pro1[i])
    i = i + 1
print(expect_value1)

66.576